body {
    height: 100%;
    background-color: #353E45;
    color: #fff;
    align-content: center;
    text-align: center;
    margin-top: 100px;
}

.text {
    background-color: #555D66;
    border-style: none;
    padding: 5px;
    color: #FFF;
    margin: 10px;
    text-align: center;
}

.text:hover {
    background-color: #555D66;
    border-style: none;
    padding: 5px;
    color: #FFF;
    margin: 10px;
    border: 1px solid #30B5FF;
}

.button {
    background-color: #30B5FF;
    border-style: none;
    padding: 7px;
    color: #FFF;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    right: 100px;
}

.button:hover {
    background-color: #30B5FF;
    border-style: none;
    padding: 9px;
    color: #FFF;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    right: 100px;
}

b {
    color: orange;
}